# Gradle
.gradle/
build/
gradle-app/build/
local.properties

# IDE
.idea/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Android
*.apk
*.ap_
*.dex
*.class
captures/
.externalNativeBuild/
.cxx/

# Debug
*.hprof

# Release build artifacts
app/release/
